h1 {
    color: black;
    text-shadow: 5px 10px 10px rgba(0, 0, 0, 0.5);
}
body {
    background-color: #ffffff;
    font-family: Arial, sans-serif;
}

#box1 {
    width: 200px;
    height: 130px;
    background-color: #ffffff;
    border: 10px solid #04ff0c;
    box-shadow: #000000 5px 10px 20px;
    
}
#box2 {
    width: 200px;
    height: 130px;
    background-color: #ffffff;
    border: 10px solid #04ff0c;
    box-shadow: #000000 5px 10px 20px;
}